ul.social.clearfix
   li.social_icon: a(href="https://vk.com/sosnovsky_a_s", target="_blank"): .social_icon_vk: span.social_icon-text vk.com
   li.social_icon: a(href="https://twitter.com/sosnovskyas", target="_blank"): .social_icon_tw: span.social_icon-text twitter.com
   li.social_icon: a(href="https://www.facebook.com/sosnovskyas", target="_blank"): .social_icon_fb: span.social_icon-text fb.com
   li.social_icon: a(href="https://github.com/sosnovskyas", target="_blank"): .social_icon_gh: span.social_icon-text github.com