.social
   a(href="https://vk.com/sosnovsky_a_s").social_icon: img(src="i/sprite/vk.png").social_icon_vk
   a(href="https://twitter.com/sosnovskyas").social_icon: img(src="i/sprite/tw.png").social_icon_tw
   a(href="https://www.facebook.com/sosnovskyas").social_icon: img(src="i/sprite/facebook.png").social_icon_fb
   a(href="https://github.com/sosnovskyas").social_icon: img(src="i/sprite/github.png").social_icon_gh