ul.social.clearfix
   li.social_icon: a(href="https://vk.com/sosnovsky_a_s", target="_blank"): .social_icon_vk: span.hidden vk.com
   li.social_icon: a(href="https://twitter.com/sosnovskyas", target="_blank"): .social_icon_tw: span.hidden twitter.com
   li.social_icon: a(href="https://www.facebook.com/sosnovskyas", target="_blank"): .social_icon_fb: span.hidden fb.com
   li.social_icon: a(href="https://github.com/sosnovskyas", target="_blank"): .social_icon_gh: span.hidden github.com