.social_icon{
  margin-right: 25px;
  &:last-child{
    margin-right:0;
  }
  &_vk{
    //content: url('i/sprite/vk.png');
    &:hover {
      content: url('i/sprite/vk_hover.png');
    }
  }
  &_tw{
    //content: url('i/sprite/tw.png');
    &:hover {
      content: url('i/sprite/tw_hover.png');
    }
  }
  &_fb{
    //content: url('i/sprite/facebook.png');
    &:hover {
      content: url('i/sprite/facebook_hover.png');
    }
  }
  &_gh{
    //content: url('i/sprite/github.png');
    &:hover {
      content: url('i/sprite/github_hover.png');
    }
  }
}