.social.clearfix
   a(href="https://vk.com/sosnovsky_a_s").social_icon: .social_icon_vk: span.hidden vk.com
   a(href="https://twitter.com/sosnovskyas").social_icon: .social_icon_tw: span.hidden twitter.com
   a(href="https://www.facebook.com/sosnovskyas").social_icon: .social_icon_fb: span.hidden fb.com
   a(href="https://github.com/sosnovskyas").social_icon: .social_icon_gh: span.hidden github.com