.box
  form
    input.label Название проекта
    input.input
    input.label Картинка проекта
    input.input
    input.label URL проекта
    input.input
    input.label Описание
    textarea.textarea
    input(type="submit", value="Добавить").button.button__light.button__normal