.sidebar{

  // 250 - ширина меню
  // 60 - отступ от меню
  width: calc_in_procent(960, (250));
  float: left;
  margin-right: 60px;

  @media only screen and (max-width : 960px) {
    display: none;
  }
}

.menu{
  padding: 0;
  margin: 0 0 25px 0;

  &_item{
    background-color: $bg-color_menu;

    &:first-child{
      border-radius: $border-radius_common $border-radius_common 0 0;


      .menu_item-link {
        border-top: 0;
      }
    }
    &:last-child{
      border-radius: 0 0 $border-radius_common $border-radius_common;
    }
    .menu_item-link{
      @include set_font("fira_sansbook", 21, #000);
      display: block;
      color: $font-color_menu-item__passive;
      padding: 27px 17px 20px 17px;

      border-top: 2px solid $bg-color_menu-item_line;
      margin: 0 10px;

      // line
      //margin: 0 10px;
      //border-bottom: 2px solid $bg-color_menu-item_line;

    }
    &.active{
      background-color: $bg-color_menu-item__active;
      padding-bottom: +2px;
      .menu_item-link{
        @include set_font("fira_sansbook", 23, $font-color_menu-item__active);
      }
      + .menu_item{
        .menu_item-link{

          border-top: 0;
        }
      }
      &:last-child{
        padding-bottom: -2px;

      }
    }
    &:hover{
      color: $font-color_menu-item__hover;
      .menu_item-link{
        color: $font-color_menu-item__hover;
      }
    }

    &-link{
      display: block;
      text-decoration: none;
    }
  }
}

.contacts {
  padding: 0;
  margin: 0;
  list-style: none;

  // планшет
  @media only screen and (max-width : 960px) {
    display: none;
  }

  &_item {
    &-header {
      background-color: $bg-color_contacts-header;
    }
    &-mail {
      background-color: $bg-color_contacts-mail;
      &:before{
        margin: 11px 0 0 12px;
        content: "";
        float: left;
        @include insert_sprite(mail);
      }
    }
    &-phone {
      background-color: $bg-color_contacts-phone;
      color: #fff;
      &:before{
        margin: 9px 0 0 12px;
        content: "";
        float: left;
        @include insert_sprite(phone);
      }
    }
    &-skype {
      background-color: $bg-color_contacts-skype;
      &:before{
        margin: 9px 0 0 12px;
        content: "";
        float: left;
        @include insert_sprite(skype);
      }
    }

    &-link{
      display: block;
      text-decoration: none;
      @include set_font("fira_sansbook", 17, $font-color_contacts-item);
      padding: 8px 40px;

      &_phone {
        //TODO придумать подчёркивание
      }

      &_header{
        @include set_font("fira_sansbook", 21, $font-color_contacts-item);
        padding: 12px 0 5px 18px;
      }
    }

    &:first-child{
      border-radius: $border-radius_common $border-radius_common 0 0;
    }
    &:last-child{
      border-radius: 0 0 $border-radius_common $border-radius_common;
    }

  }
}