nav.sidebar
    ul.menu
        li.menu_item.active: a.menu_item-link(href="#") Обо мне
        li.menu_item: a.menu_item-link(href="#") Мои работы
        li.menu_item: a.menu_item-link(href="#") Связаться со мной
    ul.contacts
        li.contacts_item: a.contacts_item-link.contacts_item-link-header(href="#") Контакты
        li.contacts_item: a.contacts_item-link.contacts_item-link-mail(href="#") sosnovsky.as@gmail.com
        li.contacts_item: a.contacts_item-link.contacts_item-link-phone(href="#") +79161038007
        li.contacts_item: a.contacts_item-link.contacts_item-link-skype(href="#") sosnovski_alexey