nav.sidebar
    ul.menu
        li.menu_item.active: a.menu_item-link(href="#") Обо мне
        li.menu_item: a.menu_item-link(href="#") Мои работы
        li.menu_item: a.menu_item-link(href="#") Связаться со мной
    ul.contacts
        li.contacts_item.contacts_item-header: a.contacts_item-link.contacts_item-link_header(href="#") Контакты
        li.contacts_item.contacts_item-mail: a.contacts_item-link.contacts_item-link_mail(href="#") sosnovsky.as@gmail.com
        li.contacts_item.contacts_item-phone: a.contacts_item-link.contacts_item-link_phone(href="#") +7 916 103 80 07
        li.contacts_item.contacts_item-skype: a.contacts_item-link.contacts_item-link_skype(href="#") sosnovskyas