.sidebar
    nav.menu
        ul.main-menu
            li.main-menu_item.active: a.main-menu_link(href="/") Обо мне
            li.main-menu_item: a.main-menu_link(href="about.html") Мои работы
            li.main-menu_item: a.main-menu_link(href="contact.html") Связаться со мной
    include ../adress-bar/adress-bar