.sidebar{

  // 250 - ширина меню
  // 60 - отступ от меню
  width: calc_in_procent(960, (250));
  float: left;
  margin-right: 60px;
}

.menu{
  padding: 0;
  margin: 0;

  &_item{
    background-color: $bg-color_menu;

    &:first-child{
      border-radius: $border-radius_common $border-radius_common 0 0;
    }
    &:last-child{
      border-radius: 0 0 $border-radius_common $border-radius_common;
      .menu_item-link{
        border-color: $bg-color_menu;
      }
    }
    .menu_item-link{
      @include set_font("fira_sansbook", 21, #000);
      display: block;
      color: $font-color_menu-item__passive;
      padding: 27px 17px 20px 17px;
      margin: 0 10px;

      border-bottom: 2px solid $bg-color_menu-item_line;
    }
    &.active{
      background-color: $bg-color_menu-item__active;
      .menu_item-link{
        @include set_font("fira_sansbook", 23, #000);

        color: $font-color_menu-item__active;
      }
    }
    &:hover{
      .menu_item-link{
        color: $font-color_menu-item__hover;
      }
    }

    &-link{
      display: block;
      text-decoration: none;
    }
    &:hover{
      color: $font-color_menu-item__hover;
    }
  }
}

.contacts {
  padding: 0;
  margin: 23px 0 0 0;
  &_item {
    //background-color: $bg-color_contacts;
    background-color: #000;
    &-link{
      display: block;
      text-decoration: none;

      //padding: 14px 0 14px 80px;
      padding: 8px 82px;

      @include set_font("fira_sansbook", 17, #000); //$font-color_contacts-item);

      &-header{
        padding: 12px 0 5px 18px;
        @include set_font("fira_sansbook", 21, #000 $font-color_contacts-item);
        //background-color: red;
      }

    }
    &:first-child{
      border-radius: $border-radius_common $border-radius_common 0 0;
    }
    &:last-child{
      border-radius: 0 0 $border-radius_common $border-radius_common;
    }

  }
}