.sidebar
    nav
        ul.menu
            li.menu_item.active: a.menu_item-link(href="/") Обо мне
            li.menu_item: a.menu_item-link(href="about.html") Мои работы
            li.menu_item: a.menu_item-link(href="contact.html") Связаться со мной
    adress
        ul.contacts
            li.contacts_item.contacts_item-header: a.contacts_item-link.contacts_item-link_header(href="#") Контакты
            li.contacts_item.contacts_item-mail: a.contacts_item-link.contacts_item-link_mail(href="mailto:sosnovsky.as@gmail.com") sosnovsky.as@gmail.com
            li.contacts_item.contacts_item-phone: a.contacts_item-link.contacts_item-link_phone(href="skype:+79161038007?call") +79161038007
            li.contacts_item.contacts_item-skype: a.contacts_item-link.contacts_item-link_skype(href="skype:sosnovskyas?call") sosnovskyas