head
   meta(charset="utf-8")

   meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

   // IE последней версии
   meta( http-equiv="X-UA-Compatible", content="IE=edge")

   // SEO
   title ls-w-09-15-quest1
   meta(name="description", content="Sosnovsky Alexey HOMPAGE")
   meta(name="keywords", content="front end portfolio")
   meta(name="author", content="Sosnovsky Alexey")

   // CSS
   link(rel="stylesheet", href="vendor.css")
   link(rel="stylesheet", href="custom.css")

   script(src="modernizr.js")
   // поддержка старых IE
   <!--[if IE 8]>
   //script(src="html5shiv.js")
   //script(src="respond.min.js")
   <!--<![endif]-->

   // favicon
   link(rel="shortcut icon", href="/i/favicon.ico", type="image/x-icon")
   link(rel="icon", href="/i/favicon.ico", type="image/x-icon")
