/*
* 2_layer_project
*/
.bg {
  //noinspection CssUnknownTarget
  background-image: url("i/bg.png");
  background-attachment: local , local;
  background-position: 6px -120px;
}

@import '../fonts/fira/fira.css';
@import '../fonts/proxima-nova-semidbold/ProximaNovaCond-Semibold.css';

@import '../blocks/header/header';
@import '../blocks/adress-bar/adress-bar';
@import '../blocks/add-portfolio/add-portfolio';
@import '../blocks/main-menu/main-menu';
@import '../blocks/social/social';
@import '../blocks/footer/footer';
@import "../blocks/login/login";
@import "../blocks/tooltip/tooltip";

.gradline {
  height: 3px;
  min-width: 960px;
  background: #3a7b8b; /* Старые браузеры */
  background: radial-gradient(circle at 80px 40px, #e7eff3, #3a7b8b, #e7eff3);
}

.wrapper {

  &_header,
  &_middle,
  &_footer {
    margin: 0 auto;
  }

  &_header,
  &_middle,
  &_footer {
    max-width: 1200px;
    min-width: 960px;
  }

  &_middle{
    margin-top: 39px;
    margin-bottom: 40px;
    min-width: 960px;
    max-width: 960px;
    //border: 1px solid red;
  }

}

.sidebar{

  // 250 - ширина меню
  // 60 - отступ от меню
  width: calc_in_procent(960, (250));
  float: left;
  margin-right: 60px;

  //@media only screen and (max-width : 960px) {
  //  display: none;
  //}
}

.menu {
  padding: 0;
  margin: 0 0 24px 0;
}

// STICKY FOOTER
@include sticky-footer($footer_height, ".sticky-footer_layout", ".sticky-footer_footer", ".footer");

/*
    REFACTED
*/

// TODO причесать эти стили и разместить их где следует

.clear-button{
  margin-left: 119px;
}

.message_label{
  margin-top: -5px;
  margin-bottom: 0;
}

// index
.content {
  // 250 - ширина меню
  // 60 - отступ от меню
  width: calc_in_procent(960, (960-250-60));
  float: right;
  margin: 0;
  padding: 0;

  &_item {
    margin-bottom: 0px;

    &-header {
      &-text{
        display: inline-block;
        padding: 12px 24px 12px 20px;
        margin-bottom: 16px ;

        border-bottom: 3px solid $bg-color_content_item-header-border;
        @include set_font("fira_sansbook", 27, $font-color_content-header);
      }
    }
    &-avatar {
      &__image-wrapper{

        float: left;
        @include border-radius(50%);
        border: 5px solid $bg-color_content_avatar-border;
        width: 140px;
        height: 140px;
        overflow: hidden;
        margin: 19px 23px 67px 55px;

      }
      &__image{
        width: 100%;
      }
    }

    &__property {
      float: left;

      &-wraper {
        float: right;
        width: 421px;
      }
      &-box{
        float: left;
        padding: 3px 0;
        margin: 0;
      }
      &__header {
        float: left;
        @include set_font("fira_sansmedium", 17, #000);
      }
      &__value {
        float: right;
        padding-left: 18px;
        @include set_font("fira_sansbook", 15, #000);
        &-wraper{
          float: right;
          width: 240px;
        }
        &-gradbutton{
          display: inline-block;
          background: #2e8ca2; // для старых браузеров
          background: linear-gradient(to top, #2e8ca2 , #2e8ca2, #2e8ca2, #3ba8c0, #3ba8c0, #3ba8c0);
          @include border-radius(3px);

          @include set_font("proxima_nova_condensed", 14, #fff);

          text-align: center;
          line-height: 21px;
          padding: 0 15px 0 15px;
          margin: 5px 4px 2px 3px;
        }
      }
    }

    &__skills{
      margin: 0;
      padding: 0;
      &-list{
        list-style: none;
        padding: 10px 0 0 40px;
      }
      &-item{
        margin: 0 0 0 5px;
        padding: 0;

        &:first-child{
          margin: -24px 0 0 5px;
        }
        &:last-child{
          .content_item__skills-item-content {
            padding-bottom: 16px;
          }
        }
        &-header{
          padding-top: 8px;

          &.case {
            padding-left: 70px;
          }
          &.edu {
            padding-left: 77px;
          }
          @include set_font("fira_sansbook", 17, #000)
        }
        &-content{
          &.case {
            padding-left: 70px;
          }
          &.edu {
            padding-left: 77px;
          }
          margin-top: -4px;
          padding-bottom: 6px;
          @include set_font("fira_sanslight", 15, #000)
        }

        &-case{
          &:before{
            margin: 12px 31px 0 13px;
            content: "";
            float: left;
            @include insert_sprite(case);
          }
        }
        &-courses{
          &:before{
            margin: 13px 37px 0 18px;
            content: "";
            float: left;
            @include insert_sprite(courses);
          }
        }
        &-edu{
          &:before{
            margin: 12px 25px 0 10px;
            content: "";
            float: left;
            @include insert_sprite(hat);
          }
        }

      }
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.content {
  &_item {
    &__portfolio {
      &-wrapper {
        margin: 0 0 0 10px;
      }
      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &-item {
        //float: left;
        display: inline-block;
        vertical-align: top;

        width: 180px;
        margin: 11px 19px 4px 10px;

        &__image-wrapper {
          @include border-radius(5px);
          border: 2px solid $bg-color_content_avatar-border;
          width: 179px;
          height: 125px;
          overflow: hidden;
          margin: 0 0 5px 0;
        }

        &__image-content {
          width: 100%;
        }

        &__url {
          margin: 0;
          text-align: center;

          overflow: hidden;
          text-overflow: ellipsis;

          text-decoration: none;

          @include set_font("fira_sanslight_italic", 13, $font-color_content-portfolio-site);
        }

        &__description {

          @include set_font("fira_sanslight_italic", 15, #000);
          text-align: center;
          width: 180px;
          //height: 29px;
          line-height: 1.2em;
          padding: 9px;

          /*
              MULTI-LINE ellipsis
          */
          //display: block;
          //display: -webkit-box;
          //
          //overflow: hidden; /* Обрезаем содержимое */
          //text-overflow: ellipsis;
          //
          //-webkit-line-clamp: 2;
          //-webkit-box-orient: vertical;
        }
      }
    }
  }
}
// TODO если не поставить этот .content в конце то валятся стили заголовков в некоторых окнах!!! НЕОБХОДИМО УБРАТЬ ЗАВИСИМОСТЬ
.content {
  &_item {
    &-header{
      &__contact{
        display: block;
        background-color: $bg-color_content-contact-header1;
        border-bottom: 17px solid $bg-color_content-contact-header2;
        margin: 0 auto;
        margin-bottom: 0px;
      }
      &-text__contact {
        padding: 42px 50px 37px 59px;
        margin: 0 auto;
        border: none;
        @include set_font("fira_sansbook", 27, $font-color_content-contact-header);
      }
    }
    &__contact{
      &-box{
        margin: 40px 124px 0 124px;
      }
    }
  }
  &_form {
    &__box{
      float: left;
      margin-bottom: 14px;
      &__label{
        display: block;
        @include set_font("fira_sanslight", 19, $font-color_content-contact_form-label);

        &_name{
          margin-right: 176px ;
        }
      }
      &__input{
        width: 170px;
        @include set_font("fira_sanslight", 13, $font-color_content-contact_form-input);
        border: 1px solid $font-color_content-contact_form-input;
        border-radius: 3px;
        padding: 10px;
        outline:none;

        // placeholder color
        &:-moz-placeholder { color: $font-color_content-contact_form-input; }
        &::-webkit-input-placeholder { color: $font-color_content-contact_form-input; }

        &_name{
          margin-right: 17px;
        }
        &_comment{
          width: 380px;
          height: 160px;
          display: block;
          resize: none;
        }

      }
      &__captcha{
        height: 58px;
        float: left;
        margin-right: 13px;
        margin-bottom: 5px;
        &_input{
          float: left;
          margin-top: 17px;
        }
      }
      &__button{
        @include set_font("fira_sansbook", 19, #000);

        margin-top: 7px;
        padding: 0;
        width: 137px;

        &_submit{
          margin-right: 135px;
          background-color: $color_blue3;
          color: $color_gray4;
          box-shadow:  0 2px $bg-color_content-contact_shadow;
        }
        &_reset{
          width: 125px;
          background-color: #849db5;
          border-color: #849db5;
          color: $color_gray4;
          box-shadow:  0 2px #687b8f;
        }
      }
    }
  }
}
// EFFECT
.demo-image {
  @include border-radius(5px);
  border: 2px solid $bg-color_content_avatar-border;
  width: 179px;
  height: 125px;
  margin: 0 0 5px 0;

  position: relative;
  overflow: hidden;

  &_add{
    @include border-radius(5px);
    border: dashed 1px $font-color_content-portfolio-site;

    background-color: #edf8fc;

    height: 125px;
    &-img{
      height: 32px;
      width: 32px;
      margin: 33px 0 12px 75px;
      background-image: url('i/add.png');
    }
    &-caption{
      text-align: center;
      @include set_font("fira_sanslight_boild", 12, $font-color_content-portfolio-site);

    }
  }
  &_mask{
    width: 100%;
    height: 100%;
  }
  &_caption {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(1, 108, 164, 0.7);
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    -o-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    &-link{
      width: 65px;
      height: 20px;
      text-align: center;
      display: block;
      color: #fff;
      @include border-radius(5px);
      margin: 0px auto;
      position: relative;
      top: 50px;
      opacity: 1;
      border: 2px solid #fff;
      @include set_font("fira_sansbook", 12, #fff);
      text-decoration: none;
    }
  }
  &:hover .demo-image_caption{
    opacity: 1;
  }
}

.error{
  border-color: #FF3232;
  background-color: #ffc8c8;
}