doctype html
<!--[if IE 8]>
<html lang="ru-RU" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru-RU">
<!--<![endif]-->

include head

body.bg
  .sticky-footer_layout
    include ../blocks/header/header
    .wrapper_middle.clearfix
      block sidebar
      block content
    .sticky-footer_footer
  include ../blocks/footer/footer
  include ../blocks/login/login
  script(src="vendor.js")
  script(src="custom.js")
