.box.add-portfolio_form
  .box_header1.add-portfolio_form-header
    .add-portfolio_form-close: a(href="#").b-close +
    .box_header1-text Добавление проекта
  form()#add-portfolio.add-portfolio_form-box
    label.label Название проекта
    input(type="text", placeholder="Введите название", data-validation="text").input.input__normal
    label.label Картинка проекта
    label.file-upload.box.add-portfolio_form-upload
      span.button Выбрать
      #fileformlabel.upload-label Загрузите изображение
      input(type="file", name="upload" placeholder="Загрузите изображение", onchange="getName(this.value);", data-validation="text")#upload.input.input__normal
    label.label URL проекта
    input(type="text", placeholder="Добавьте ссылку", data-validation="text").input.input__normal
    label.label Описание
    textarea(data-validation="text").textarea.textarea__normal
    input(type="submit", value="Добавить").button.button__light.button__normal.add-portfolio_form-submit