.add-portfolio_form{
  display: none;
  //margin: 0 auto;
  &-box{
    padding: 5px 30px 15px 30px;

    .input,
    .textarea{
      width: 320px;
    }
  }
  &-header{
    padding: 0 0 0 10px;
    border-bottom-width: 10px;
  }
  &-close{
    float: right;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    @include border-radius(50%);
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 10px 10px 0 0;
    a{
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }
  &-submit{
    margin: 20px 0 10px 100px;
    //margin: 0 auto;
  }
  &-upload{
    min-width: 338px;
    margin: 0;
    background-color: #fff;
    .upload-label{
      @include set_font("fira_sanslight", 13, $font-color_content-contact_form-input);

      margin: 10px 0 0 10px;
    }
  }
  .label{
    display: block;
  }
}

.file-upload{
  @extend .input;

  display: block;
  //position: relative;
  //overflow: hidden;
  //font-size: 1em;              /* example */
  //height: 2em;                 /* example */
  //line-height: 2em;             /* the same as height */

  .button {

    //display: block;
    cursor: pointer;              /* example */
    float: right;
    //box-sizing: border-box;
    //-moz-box-sizing: border-box;
    //width: 8em;                  /* example */
    //height: 100%;
    //text-align: center;           /* example */
    content: url('/i/upload-image.png');
    //cursor: pointer;
  }

  .button > mark {

    //background: transparent;     /* example */
    //padding-left: 1em;            /* example */
    //display: block;
    //cursor: pointer;
  }

  input[type=file] {
    position: absolute;
    top: -1000px;
    opacity: 0
  }
}
