.header {
  background: $box_bg_color;
  min-height: 116px;
  &_logo{
    margin-top: 40px;
    margin-left: -1px;
    float: left;
    @include insert_sprite(logo);
  }
  &_social{
    margin-top: 35px;
    float: right;
  }
}