.login
  .box
    .content_item-header.content_item-header__contact
      .content_item-header-text.content_item-header-text__contact Авторизуйтесь
    form#login-form.login-box
      label.login_label Логин
      input(placeholder="Введите логин", type="text", name="login").input.input__normal.login_input.login_user-name
      label.login_label Пароль
      input(placeholder="Введите пароль", type="password", name="password").input.input__normal.login_input.login_user-password
      input(type="submit", value="Войти").button.button__light.button__large.login_submit