.login
  .box
    .content_item-header.content_item-header__contact
      .content_item-header-text.content_item-header-text__contact Авторизуйтесь
    .login-box
      label.login_label Логин
      input(placeholder="Введите логин", type="text").input.input__normal.login_input.login_user-name
      label.login_label Пароль
      input(placeholder="Введите логин", type="password").input.input__normal.login_input.login_user-password
      input(type="submit", value="Войти").button.button__light.button__large.login_submit