$color_blue1: #3ba8c0;
$color_blue2: #41b9d4;
$color_blue3: #48cbe8;
$color_blue4: #51daf8;
$color_blue5: #edf8fc;

$color_gray1: #58697a;
$color_gray2: #959aa8;
$color_gray3: #eff3f7;

$color_gray4: #ffffff; //white

// common
$browser-context: 16; // Default
$footer_height: 80px;
$border-radius_common: 4px;

$box_bg_color: $color_gray3;

$header_font_color: $color_blue1;


// menu
$bg-color_menu: $color_gray3;
$bg-color_menu-item__active: $color_blue1;
$bg-color_menu-item-border: $color_blue1;
$bg-color_menu-item_line: $color_blue1;

$font-color_menu-item__passive: $color_blue1;
$font-color_menu-item__active: $color_gray4;
$font-color_menu-item__hover: $color_gray2;

// contacts
$bg-color_contacts-header: $color_blue1;
$bg-color_contacts-mail: $color_blue2;
$bg-color_contacts-phone: $color_blue3;
$bg-color_contacts-skype: $color_blue4;

$font-color_contacts-item: $color_gray4;

// content
$bg-color_content_item: $color_gray3;
$bg-color_content_item-header-border: $color_blue1;
$bg-color_content_avatar-border: $color_blue1;

$font-color_content-header: $color_blue1;

// content - portfolio

$font-color_content-portfolio-site: $color_blue1;

// content - contact
$bg-color_content-contact-header1: $color_blue3;
$bg-color_content-contact-header2: $color_blue4;
$font-color_content-contact-header: $color_gray4;
$font-color_content-contact_form-input: $color_blue3;
$font-color_content-contact_form-label: $color_gray2;
$bg-color_content-contact_shadow: $color_blue1;
