/*
* 2_layer_project
*/
.bg {
  background-image: url("i/bg.png");
  background-attachment: local , local;
  background-position: 6px -120px;
}

// SPRITES
  //noinspection CssUnknownTarget
  @import "compass/utilities/sprites";
  //noinspection CssUnknownTarget
  @import 'sprite/*.png';
  //noinspection SassScssUnresolvedMixin
  @include all-sprite-sprites;




@import '../fonts/fira/fira.css';
@import '../fonts/proxima-nova-semidbold/ProximaNovaCond-Semibold.css';


@import '../header/header';
@import '../sidebar/sidebar';
@import '../content/content';
@import '../social/social';
@import '../footer/footer';

.gradline {
  height: 3px;
  //width: 100%;
  min-width: 960px;
  background: #3a7b8b; /* Старые браузеры */
  background: radial-gradient(circle at 80px 40px, #e7eff3, #3a7b8b, #e7eff3);
}



.wrapper {

  &_header,
  &_middle,
  &_footer {
    margin: 0 auto;
  }

  &_header,
  &_middle,
  &_footer {
    max-width: 1200px;
    min-width: 960px;
  }

  &_middle{
    margin-top: 39px;
    margin-bottom: 40px;
    min-width: 960px;
    max-width: 960px;
    //border: 1px solid red;
  }

}

/*
 STICKY FOOTER
*/
//noinspection CssUnknownTarget
@import "compass/layout.scss";
//noinspection SassScssUnresolvedMixin
@include sticky-footer($footer_height, ".sticky-footer_layout", ".sticky-footer_footer", ".footer");