/*
* 1_layer_base
*/

html {

}

body {
  min-width: 100%;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/* для IE6-7 */
.clearfix {
  zoom: 1;
}
