adress
   ul.adress-bar
      li.adress-bar_item.adress-bar_item__header:  a.adress-bar_link.adress-bar_header(href="#") Контакты
      li.adress-bar_item.adress-bar_item__mail:    a.adress-bar_link(href="mailto:sosnovsky.as@gmail.com") sosnovsky.as@gmail.com
      li.adress-bar_item.adress-bar_item__phone:   a.adress-bar_link(href="skype:+79161038007?call") +79161038007
      li.adress-bar_item.adress-bar_item__skype:   a.adress-bar_link(href="skype:sosnovskyas?call") sosnovskyas
