adress
  ul.adress-bar
    li.adress-header:  a.adress-link.adress-bar_header(href="#") Контакты
    li.adress-mail:    a.adress-link(href="mailto:sosnovsky.as@gmail.com") sosnovsky.as@gmail.com
    li.adress-phone:   a.adress-link(href="skype:+79161038007?call") +79161038007
    li.adress-skype:   a.adress-link(href="skype:sosnovskyas?call") sosnovskyas
