.tooltip{
  position: absolute;
  display: inline-block;
  z-index: 999999;
}

.tooltip__inner{
  max-width: 200px;
  padding: 3px 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;

  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
  }
}

.tooltip_right, .tooltip_left {
  padding: 0 5px;

  .tooltip__inner{
    &:after{
      top: 50%;
      margin-top: -5px;
    }
  }
}

.tooltip_top, .tooltip_bottom{
  padding: 5px 0;
  .tooltip__inner{
    &:after{
      left: 50%;
      margin-left: -5px;
    }
  }
}

$positions: top, left, right, bottom;

@each $position in $positions{
  $length: length($positions);
  $oposite: nth($positions, ($length - index($positions, $position)) + 1);
  .tooltip_#{$position} {
    .tooltip__inner{
      &:after{
        #{$oposite}: 0;
        bodrer-#{$position}-color: #000;
        bodrer-#{$oposite}-width: 0px;
      }
    }
  }
};