nav.sidebar
    ul.menu
        li.menu_item.active: a.menu_item-link(href="#") Обо мне
        li.menu_item: a.menu_item-link(href="#") Мои работы
        li.menu_item: a.menu_item-link(href="#") Связаться со мной