nav.sidebar
    ul.menu
        li.menu_item.active: a.menu_item-link(href="#") Обо мне
        li.menu_item: a.menu_item-link(href="#") Мои работы
        li.menu_item: a.menu_item-link(href="#") Связаться со мной
    ul.contacts
        li.contacts_header Контакты
        li.contacts_mail sosnovsky.as@gmail.com
        li.contacts_phone +79161038007
        li.contacts_skype sosnovski_alexey