.content {
  // 250 - ширина меню
  // 50 - отступ от меню
  width: calc_in_procent(960, (960-250-60));
  float: left;
  margin: 0;
  padding: 0;
  @media only screen and (max-width : 700px) {
    width: 100%;
    padding: 0 15px;
  }

  &_item {
    border-radius: 3px;
    background: $bg-color_content_item;
    //min-height: 321px;
    margin-bottom: 25px;

    @media only screen and (max-width : 700px) {
      min-width: 395px;
    }

    &-header {
      &-text{
        display: inline-block;
        padding: 22px 24px 20px 20px;
        margin-bottom: 16px ;

        border-bottom: 3px solid $bg-color_content_item-header-border;
        @include set_font("fira_sansbook", 27, $font-color_content-header);
      }
    }
    &-avatar {
      &__image-wrapper{
        float: left;
        border-radius: 50%;
        border: 5px solid $bg-color_content_avatar-border;
        width: 140px;
        height: 140px;
        overflow: hidden;
        margin: 19px 23px 67px 55px;
      }
      &__image{
        width: 100%;
      }
    }

    &__property {
      float: left;


      &-box{
        float: left;
        min-width: 360px;
        padding: 4.5px 0;
        margin: 0;
        @media only screen and (max-width : 700px) {
          width: 100%;
          //padding: 0 15px;
        }


      }
      &__header {
        float: left;
        @include set_font("fira_sansmedium", 17, #000);
        @media only screen and (max-width : 700px) {
          min-width: 270px;
        }
      }
      &__value {
        float: left;
        padding-left: 18px;
        @include set_font("fira_sansbook", 15, #000);
        max-width: 250px;

        //for mobile
        @media only screen and (max-width : 700px) {
          min-width: 270px;
        }

        &-wraped{
          float: left;
          display: inline-block;
          background: #2e8ca2; // для старых браузеров
          background: linear-gradient(to top, #2e8ca2 , #2e8ca2, #2e8ca2, #3ba8c0, #3ba8c0, #3ba8c0);
          border-radius: 3px;

          //min-width: 53px;

          @include set_font("proxima_nova_condensed", 14, #fff);

          text-align: center;
          line-height: 21px;
          padding: 0 15px 0 15px;
          margin: 5px 4px 2px 3px;
        }
      }


    }

    &__skills{
      margin: 0;
      padding: 0;
      &-list{
        list-style: none;
      }
      &-item{
        margin: 0 0 0 5px;
        padding: 0;

        &:first-child{
          margin: -24px 0 0 5px;
        }
        &:last-child{
          .content_item__skills-item-content {
            padding-bottom: 16px;
          }
        }
        &-header{
          padding-top: 8px;
          @include set_font("fira_sansbook", 17, #000)
        }
        &-content{
          margin-top: -4px;
          padding-bottom: 6px;
          @include set_font("fira_sanslight", 15, #000)
        }

        &-case{
          &:before{
            margin: 12px 31px 0 13px;
            content: "";
            float: left;
            @include insert_sprite(case);
          }
        }
        &-courses{
          &:before{
            margin: 13px 37px 0 18px;
            content: "";
            float: left;
            @include insert_sprite(courses);
          }
        }
        &-edu{
          &:before{
            margin: 12px 25px 0 10px;
            content: "";
            float: left;
            @include insert_sprite(hat);
          }
        }

      }
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}