.content
    - for (var x = 0; x < 15; x++)
        .content_item
            .content_item-header
                .content_item-header-text Основная информация
            .content_item-header content
            .content_item-header content

