.content {
  &_item {
    &-header{
      &__contact{
        display: block;
        background-color: $bg-color_content-contact-header1;
        border-bottom: 17px solid $bg-color_content-contact-header2;
        margin: 0 auto;
        margin-bottom: 0px;
      }
      &-text__contact {
        padding: 42px 50px 37px 59px;
        margin: 0 auto;
        border: none;
        @include set_font("fira_sansbook", 27, $font-color_content-contact-header);
      }
    }
    &__contact{
      &-box{
        margin: 40px 124px 0 124px;
      }
    }
  }
  &_form {
    &__box{
      float: left;
      margin-bottom: 14px;
      &__label{
        display: block;
        @include set_font("fira_sanslight", 19, $font-color_content-contact_form-label);

        &_name{
          margin-right: 176px ;
        }
      }
      &__input{
        width: 170px;
        @include set_font("fira_sanslight", 13, $font-color_content-contact_form-input);
        border: 1px solid $font-color_content-contact_form-input;
        border-radius: 3px;
        padding: 10px;
        outline:none;

        // placeholder color
        &:-moz-placeholder { color: $font-color_content-contact_form-input; }
        &::-webkit-input-placeholder { color: $font-color_content-contact_form-input; }

        &_name{
          margin-right: 17px;
        }
        &_comment{
          width: 380px;
          height: 160px;
          display: block;
          resize: none;
        }

      }
      &__captcha{
        height: 58px;
        float: left;
        margin-right: 13px;
        margin-bottom: 5px;
        &_input{
          float: left;
          margin-top: 17px;
        }
      }
      &__button{
        @include set_font("fira_sansbook", 19, #000);

        margin-top: 7px;
        padding: 0;
        width: 137px;

        &_submit{
          margin-right: 135px;
          background-color: $color_blue3;
          color: $color_gray4;
          box-shadow:  0 2px $bg-color_content-contact_shadow;
        }
        &_reset{
          width: 125px;
          background-color: #849db5;
          border-color: #849db5;
          color: $color_gray4;
          box-shadow:  0 2px #687b8f;
        }
      }
    }
  }
}

.clear-button{
  margin-left: 119px;
}

.message_label{
  margin-top: -5px;
  margin-bottom: 0;
}