main.content
  section.box.clearfix
    .content_item-header
        .content_item-header-text Основная информация
    .content_item-avatar__image-wrapper
      img(src="i/photo.jpeg", alt="photo").content_item-avatar__image
    .content_item__property-wraper.clearfix
      .content_item__property-box.clearfix
        .content_item__property__header Меня зовут:
        .content_item__property__value Сосновский Алексей Сергеевич
      .content_item__property-box.clearfix
        .content_item__property__header Мой возраст:
        .content_item__property__value 31
      .content_item__property-box.clearfix
        .content_item__property__header Мой город:
        .content_item__property__value Балашиха, Московская область, Россия
      .content_item__property-box.clearfix
        .content_item__property__header Моя специализация:
        .content_item__property__value FRONTEND разработчик
      .content_item__property-box.clearfix
        .content_item__property__header Ключевые навыки:
        .content_item__property__value
          .content_item__property__value-wraper
            .content_item__property__value-gradbutton html
            .content_item__property__value-gradbutton css
            .content_item__property__value-gradbutton javascript
            .content_item__property__value-gradbutton gulp
            .content_item__property__value-gradbutton git
  section.box.clearfix
    .content_item-header
      .content_item-header-text Опыт рабoты
    ul.content_item__skills-list
      li.content_item__skills-item.content_item__skills-item-case
        .content_item__skills-item-header.case ЗАО ЦВ "Протек" - системный администратор
        .content_item__skills-item-content.case Март 2012 - по текущее время
  section.box.clearfix
    .content_item-header
          .content_item-header-text Образование
    ul.content_item__skills-list
      li.content_item__skills-item.content_item__skills-item-edu
        .content_item__skills-item-header.edu Высшее образование. РосНоУ
        .content_item__skills-item-content.edu Февраль 2012
      li.content_item__skills-item.content_item__skills-item-edu
        .content_item__skills-item-header.edu Среднее специальное. Курганский Технологический Колледж
        .content_item__skills-item-content.edu Сентябрь 2000 - Июнь 2004
      li.content_item__skills-item.content_item__skills-item-courses
        .content_item__skills-item-header.edu Курсы Loftschool.ru
        .content_item__skills-item-content.edu Июнь 2015 - по настоящее время