main.content
    section.content_item.clearfix
        .content_item-header
            .content_item-header-text Мои работы
        .content_item__portfolio-wrapper
            ul.content_item__portfolio-list.clearfix
                - for (var x = 0; x < 4; x++)
                    li.content_item__portfolio-item
                        .content_item__portfolio-item__image-wrapper
                            img(src="i/photo.jpeg", alt="portfolio screenshot").content_item__portfolio-item__image-content
                        .content_item__portfolio-item__url www.site.ru
                        .content_item__portfolio-item__description blah blah blah blah blah blah blah blah blah...
                li.content_item__portfolio-item
                    .content_item__portfolio-item__image
                        img(src="i/add-protfolio.png", alt="add portfolio").content_item__portfolio-item__image-content