extends ../templates/layout

block sidebar
  include ../blocks/main-menu/main-menu_contact

block content
  main.content
    section.box
      .content_item-header.content_item-header__contact
        .content_item-header-text.content_item-header-text__contact У вас интересный проект? Напишите мне
      .content_item__contact-box
        include ../blocks/feedback/feedback