@import 'fonts/fira/fira.css';
$header_font_color: #3ba8c0;
$box_bg_color: #eff3f7;

html {

}

body {

}

.gradline {
  height: 3px;
  width: 100%;
  background: #3a7b8b; /* Старые браузеры */
  background: radial-gradient(circle at 80px 40px, #e7eff3, #3a7b8b, #e7eff3);
}

//@import 'header/header';
//@import 'menu/menu';
//@import 'content/content';
//@import 'social/social';
//@import 'footer/footer';
