/*
* 0_layer - reset
*/
@import '/bower_components/normalize-css/normalize.css';

/*
* 1_layer_base
*/


html {

}

body {
  min-width: 100%;
}

.wrapper {
  margin: 0 auto;

  &_header {
    max-width: 12000px;
  }

  &_body {
    max-width: 960px;
  }
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/* для IE6-7 */
.clearfix {
  zoom: 1;
}

/*
* 2_layer_project
*/

@import 'fonts/fira/fira.css';
$header_font_color: #3ba8c0;
$box_bg_color: #eff3f7;


@import 'header/header';
//@import 'menu/menu';
@import 'content/content';
@import 'social/social';
//@import 'footer/footer';

.gradline {
  height: 3px;
  width: 100%;
  background: #3a7b8b; /* Старые браузеры */
  background: radial-gradient(circle at 80px 40px, #e7eff3, #3a7b8b, #e7eff3);
}
