doctype html
html(lang="ru")
    head
        title ls-w-09-15-land-flex
        meta(charset="utf-8")
        link(rel="stylesheet", href="vendor.css")
        link(rel="stylesheet", href="custom.css")
    body
        include header/header
        include content/content
        include footer/footer
        //script(src="vendor.js")
        //script(src="custom.js")
