@import "compass/css3/inline-block";

.footer {
  background-color: $box_bg_color;
  //min-height: $footer_height;

  &_lock {
    margin-top: 23px;
    margin-left: 31px;
    float: left;
    @include insert_sprite(lock);
  }

  &_copyright {
    @include  inline-block(center);
    @include set_font("fira_sanslight", 13, #000);
    margin-left: 233px;
    margin-top: 7px;
  }
}