.gradline
footer.footer.clearfix
    .wrapper_footer
        .footer_lock
            //img(src="i/sprite/lock.png")
        .footer_copyright
            p &#169 2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его
