/*
* 1_layer_base
*/

/*
    VARIABLES
*/
//colors
$color_blue1: #3ba8c0;
$color_blue2: #41b9d4;
$color_blue3: #48cbe8;
$color_blue4: #51daf8;
$color_blue5: #edf8fc;

$color_gray1: #58697a;
$color_gray2: #959aa8;
$color_gray3: #eff3f7;

$color_gray4: #ffffff; //white

$color_header: #4a545d;

// common
$browser-context: 16; // Default
$footer_height: 80px;
$border-radius_common: 4px;

$box_bg_color: $color_gray3;

$header_font_color: $color_blue1;


// menu
$bg-color_menu: $color_gray3;
$bg-color_menu-item__active: $color_blue1;
$bg-color_menu-item-border: $color_blue1;
$bg-color_menu-item_line: $color_blue1;

$font-color_menu-item__passive: $color_blue1;
$font-color_menu-item__active: $color_gray4;
$font-color_menu-item__hover: $color_gray2;

// contacts
$bg-color_contacts-header: $color_blue1;
$bg-color_contacts-mail: $color_blue2;
$bg-color_contacts-phone: $color_blue3;
$bg-color_contacts-skype: $color_blue4;

$font-color_contacts-item: $color_gray4;

// content
$bg-color_content_item: $color_gray3;
$bg-color_content_item-header-border: $color_blue1;
$bg-color_content_avatar-border: $color_blue1;

$font-color_content-header: $color_blue1;

// content - portfolio

$font-color_content-portfolio-site: $color_blue1;

// content - contact
$bg-color_content-contact-header1: $color_blue3;
$bg-color_content-contact-header2: $color_blue4;
$font-color_content-contact-header: $color_gray4;
$font-color_content-contact_form-input: $color_blue3;
$font-color_content-contact_form-label: $color_gray2;
$bg-color_content-contact_shadow: $color_blue1;

/*
    IMPORTS
*/
//noinspection CssUnknownTarget
@import "compass";
// SPRITES
//noinspection CssUnknownTarget
@import "compass/utilities/sprites";
//noinspection CssUnknownTarget
@import 'sprite/*.png';
//noinspection SassScssUnresolvedMixin
@include all-sprite-sprites;
// for sticky footer
//noinspection CssUnknownTarget
@import "compass/layout";
// for center alignment in footer
//noinspection CssUnknownTarget
@import "compass/css3";
//noinspection CssUnknownTarget
@import "compass/css3/inline-block";

/*
    CUSTOM MIXINS
*/

//noinspection CssInvalidFunction
@mixin insert_sprite($sprite-name){
  height: sprite-sprite-height($sprite-name);
  width: sprite-sprite-width($sprite-name);
  @include sprite-sprite($sprite-name);
}



@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin set_font($font, $pixel, $color) {
  font-family: $font, sans-serif;
  font-size: em($pixel);
  color: $color;
}

@function calc_in_procent($common, $dest){
  @return ($dest / $common) * 100%
}

/*
    COMMON STYLES
*/

html {

}

body {
  min-width: 100%;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  /* для IE6-7 */
  zoom: 1;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  //li {
  //  display: inline-block;
  //}

  a {
    display: block;
    //padding: 6px 12px;
    text-decoration: none;
  }
}

.button{
  outline: none;
  &__normal{
    @include border-radius(3px);
    @include set_font("fira_sansbook", 19, #fff);
    min-width: 137px;
    padding: 0;
  }
  &__large{
    @include set_font("fira_sansbook", 36, #fff);
    @include border-radius(6px);
    min-width: 141px;
    min-height: 33px;
  }
  &__dark{
    background-color: #849db5;
    border-style: solid;
    border-color: #849db5 #849db5 #687b8f #849db5;
    &:active{
      border-top-style: solid;
      border-top-color: #687b8f;
    }
    &:hover{
      border-bottom-style: solid;
      border-bottom-color: #849db5;
    }
  }
  &__light{
    background-color: #48cbe8;
    border-style: solid;
    border-color: #48cbe8 #48cbe8 #3ba8c0 #48cbe8;
    &:active{
      border-top-style: solid;
      border-top-color: #3ba8c0;
    }
    &:hover{
      border-bottom-style: solid;
      border-bottom-color: #48cbe8;
    }
  }
}

.input{
  @include border-radius(3px);
  border: 1px solid $font-color_content-contact_form-input;
  outline: none;

  &:-moz-placeholder { color: $font-color_content-contact_form-input; }
  &::-webkit-input-placeholder { color: $font-color_content-contact_form-input; }

  &__normal{
    @include set_font("fira_sanslight", 13, $font-color_content-contact_form-input);
    padding: 9px;
    width: 170px;
  }
  &__large{
    @include set_font("fira_sanslight", 17, $font-color_content-contact_form-input);
    padding: 9px;
    width: 403px;
  }
  &__error{
    background-color: #fdd8d6;
    border-color: #f97e76;
    &:-moz-placeholder { color: #95b9c8; }
    &::-webkit-input-placeholder { color: #95b9c8; }
  }
}


.textarea{
  @include border-radius(3px);
  border: 1px solid $font-color_content-contact_form-input;
  outline: none;
  padding: 10px;

  display: block;
  resize: none;

  &:-moz-placeholder { color: $font-color_content-contact_form-input; }
  &::-webkit-input-placeholder { color: $font-color_content-contact_form-input; }

  &__normal{
    @include set_font("fira_sanslight", 13, $font-color_content-contact_form-input);
    width: 380px;
    height: 160px;

  }
  &__large{
    @include set_font("fira_sanslight", 17, $font-color_content-contact_form-input);
    padding: 9px;
    width: 403px;
  }
  &__error{
    background-color: #fdd8d6;
    border-color: #f97e76;
    &:-moz-placeholder { color: #95b9c8; }
    &::-webkit-input-placeholder { color: #95b9c8; }
  }
}

.label{
  @include set_font("fira_sansbook", 17, $color_gray2);
}

.h{
  &1{
    @include set_font("fira_sansbook", 27, $color_header);
  }
  &2{
    @include set_font("fira_sansbook", 25, $color_header);
  }
  &3{
    @include set_font("fira_sansbook", 23, $color_header);
  }
  &4{
    @include set_font("fira_sansbook", 21, $color_header);
  }
  &5{
    @include set_font("fira_sansbook", 19, $color_header);
  }
  &6{
    @include set_font("fira_sansbook", 17, $color_header);
  }
}

.box{
  background: $color_gray3;
  @include border-radius(3px);
  margin-bottom: 25px;
  overflow: hidden;

  &_header1{
    display: block;
    background-color: $bg-color_content-contact-header1;
    border-bottom: 17px solid $bg-color_content-contact-header2;
    margin: 0 auto;
    margin-bottom: 0px;
    &-text{
      border: none;
      @include set_font("fira_sansbook", 27, $font-color_content-contact-header);
    }
  }
}

