/*
* 2_layer_project
*/
.bg {
  background-image: url("i/bg.png");
  background-attachment: local , local;
  background-position: 6px -120px;
}





@import '../fonts/fira/fira.css';
@import '../fonts/proxima-nova-semidbold/ProximaNovaCond-Semibold.css';


@import '../header/header';
@import '../adress-bar/adress-bar';
@import '../main-menu/main-menu';
@import '../content/index';
@import '../social/social';
@import '../footer/footer';
@import "../login/login";

.gradline {
  height: 3px;
  min-width: 960px;
  background: #3a7b8b; /* Старые браузеры */
  background: radial-gradient(circle at 80px 40px, #e7eff3, #3a7b8b, #e7eff3);
}



.wrapper {

  &_header,
  &_middle,
  &_footer {
    margin: 0 auto;
  }

  &_header,
  &_middle,
  &_footer {
    max-width: 1200px;
    min-width: 960px;
  }

  &_middle{
    margin-top: 39px;
    margin-bottom: 40px;
    min-width: 960px;
    max-width: 960px;
    //border: 1px solid red;
  }

}

.sidebar{

  // 250 - ширина меню
  // 60 - отступ от меню
  width: calc_in_procent(960, (250));
  float: left;
  margin-right: 60px;

  //@media only screen and (max-width : 960px) {
  //  display: none;
  //}
}

.menu {
  padding: 0;
  margin: 0 0 24px 0;
}

// STICKY FOOTER
@include sticky-footer($footer_height, ".sticky-footer_layout", ".sticky-footer_footer", ".footer");

