doctype html
<!--[if IE 8]>
<html lang="ru-RU" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru-RU">
<!--<![endif]-->
head
    title ls-w-09-15-quest1
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    //link(rel="stylesheet", href="vendor.css")
    link(rel="stylesheet", href="custom.css")

    <!--[if IE 8]>

    script(src="html5shiv.js")
    script(src="respond.min.js")
    <!--<![endif]-->
body.bg
    .sticky-footer_layout
        include ../header/header
        .wrapper_middle.clearfix
            include ../sidebar/sidebar
            block content
        .sticky-footer_footer
    include ../footer/footer
    //script(src="vendor.js")
    //script(src="custom.js")
