doctype html
<!--[if IE 8]>
<html lang="ru-RU" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru-RU">
<!--<![endif]-->
head
  meta(charset="utf-8")

  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  // IE последней версии
  meta( http-equiv="X-UA-Compatible", content="IE=edge")

  // SEO
  title ls-w-09-15-quest1
  meta(name="description", content="Sosnovsky Alexey HOMPAGE")
  meta(name="keywords", content="front end portfolio")
  meta(name="author", content="Sosnovsky Alexey")

  // CSS
  link(rel="stylesheet", href="custom.css")

  script(src="modernizr.js")
  // поддержка старых IE
  <!--[if IE 8]>
  //script(src="html5shiv.js")
  //script(src="respond.min.js")
  <!--<![endif]-->

  // favicon
  link(rel="shortcut icon", href="/i/favicon.ico", type="image/x-icon")
  link(rel="icon", href="/i/favicon.ico", type="image/x-icon")
  script(src='https://www.google.com/recaptcha/api.js')
  script(type='text/javascript').
    var verifyCallback = function (response) {
      alert(response);
    };
    var widgetId1;
    var onloadCallback = function () {
      // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
      // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
      widgetId1 = grecaptcha.render('send-message', {
          'sitekey': '6LeiSg4TAAAAAL6AcboXC2fTgM3quVTLWFoGtQ-U'
      });
    };
body.bg
  .sticky-footer_layout
    include ../header/header
    .wrapper_middle.clearfix
      block sidebar
      block content
    .sticky-footer_footer
  include ../footer/footer
  include ../login/login
  script(src="vendor.js")
  script(src="custom.js")
